﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/StyleForAdmin.css">

    <title>@ViewBag.Title</title>
</head>
<body>
        <div class="form">
            <form id="form1" runat="server" enctype="multipart/form-data">
                <h3>Данные пользователя</h3>
                <div class="data">
                    <div>
                        <label>Логин</label>
                        <input name="login" />
                    </div>
                    <div>
                        <label>Пароль</label>
                        <input name="password" type="password" />
                    </div>
                    <div>
                        <label>Фамилия</label>
                        <input name="surname" />
                    </div>
                    <div>
                        <label>Email</label>
                        <input name="email" />
                    </div>
                    <div>
                        <label>Телефон</label>
                        <input name="phone" />
                    </div>

                    <input type="submit" value="Добавить пользователя" />
                </div>
            </form>
        </div>

        <table>
            <asp:Repeater ID="Repeater1" runat="server" Itemtype="CodeFirst.Users" SelectMethod="GetUsers">
                <HeaderTemplate>
                    <tr>
                        <th>Логин</th>
                        <th>Пароль</th>
                        <th>Фамилия</th>
                        <th>Email</th>
                        <th>Телефон</th>
                    </tr>
                </HeaderTemplate>

                <ItemTemplate>
                    <tr>
                        <td><%# Item.Login%></td>
                        <td><%# Item.Password %></td>
                        <td><%# Item.Surname %></td>
                        <td><%# Item.Email %></td>
                        <td><%# Item.Phone %>" /></td>
                    </tr>
                </ItemTemplate>
            </asp:Repeater>
        </table>
</body>
</html>
