﻿

@{
    ViewBag.Title = "Типы операций";
}
<div>
    <!--@Html.ActionLink("Пользователи", "Index", "~/Views/Admin/AdminPage")-->
    <h3>Типы операций</h3>
    <table>
        <tr>
            <td><p>№ операции</p></td>
            <td><p>Название операции</p></td>
        </tr>
        @foreach (var ot in ViewBag.TypesofOperation)
        {
            <tr>
                <td><p>@ot.IDOperation</p></td>
                <td><p>@ot.TypeOfOperation </p></td>
            </tr>
        }
    </table>

</div>