﻿@using CodeFirst
@model IEnumerable<Users>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="form">
        <form id="form1" runat="server" enctype="multipart/form-data">
            <h3>Данные пользователя</h3>
            <div class="data">
                <div>
                    <label>Логин</label>
                    <input name="login" />
                </div>
                <div>
                    <label>Пароль</label>
                    <input name="password" type="password" />
                </div>
                <div>
                    <label>Фамилия</label>
                    <input name="surname" />
                </div>
                <div>
                    <label>Email</label>
                    <input name="email" />
                </div>
                <div>
                    <label>Телефон</label>
                    <input name="phone" />
                </div>

                <input type="submit" value="Добавить пользователя" />
            </div>
        </form>
    </div>

    <table>
        <tr>
            <th>Логин</th>
            <th>Пароль</th>
            <th>Фамилия</th>
            <th>Email</th>
            <th>Телефон</th>
        </tr>
        @foreach (Users us in Model)
        {
            <tr>
                <td><p><@us.Login></p></td>
                <td><p><@us.Password></p></td>
                <td><p><@us.Surname></p></td>
                <td><p><@us.Email></p></td>
                <td><p><@us.Phone></p></td>
            </tr>
        }
        </table>
   
</body>
</html>
