﻿body {
    width: 470px;
    margin: 20px auto;
    background: #888;
    border-radius: 5px;
    padding: 5px;
}

form {
    background: #fff;
    border-radius: 2px;
}

.data {
    border-top: 1px solid #d5d5d5;
    padding: 10px 15px;
}

    .data div {
        margin: 8px 0;
    }

h3 {
    padding: 10px 15px;
    margin: 0;
}

label {
    min-width: 100px;
    display: block;
    float: left;
}

input[type="submit"] {
    margin-top: 10px;
}

table {
    margin: 10px auto
}

th, td {
    padding: 8px;
}

th {
    background: #28a4fa;
    color: white;
    font-weight: bold;
}

tr:nth-of-type(even) {
    background: #eee;
}

tr:nth-of-type(odd) {
    background: #fffbd6;
}

td img {
    max-width: 50px;
    max-height: 50px;
}



